.home-page {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    width: 80px;
  }
  
  .sidebar-icon {
    margin: 20px 0;
    transition: transform 0.2s, color 0.3s;
  }
  
  .sidebar-icon:hover {
    transform: scale(1.1);
    color: #007bff;
  }
  

  